<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>https://junger.mx/api/v1/</string>
	<key>PROMOTIONS</key>
	<string>compra/promotions</string>
	<key>INTENTAR_PAGAR</key>
	<string>profile/student/clase/intentar-pago</string>
	<key>REVISAR_USUARIO_DEBE</key>
	<string>profile/student/deuda</string>
	<key>GET_CREDIT_PRICE</key>
	<string>compra/credito</string>
	<key>SOLTAR_CLASE</key>
	<string>clase/desprogramar</string>
	<key>RECURRENCIA</key>
	<string>catalogs/profesor/recurrencia</string>
	<key>CALIFICAR</key>
	<string>clase/calificar</string>
	<key>FACTURAR</key>
	<string>clase/facturar</string>
	<key>UPDATE_FACT</key>
	<string>profile/student/facturacion</string>
	<key>UPDATE_ACCOUNT</key>
	<string>account/update</string>
	<key>BUY_CREDITS</key>
	<string>compra/credito</string>
	<key>GET_CREDITS_NUMBER</key>
	<string>profile/student/creditos</string>
	<key>GET_HISTORIAL</key>
	<string>profile/student/historial</string>
	<key>GET_CLASS_BY_ID</key>
	<string>profile/student/clase</string>
	<key>SEND_TOKEN_REFRESH</key>
	<string>account/token-register</string>
	<key>GET_PAYMENT_METHOD</key>
	<string>profile/student/forma-pago</string>
	<key>UPDATE_CLASS</key>
	<string>clase/actualizar</string>
	<key>PROGRAM_CLASS</key>
	<string>clase/programar</string>
	<key>LOGIN_BY_EMAIL</key>
	<string>account/login</string>
	<key>SEND_SUGGEST</key>
	<string>comentario/app</string>
	<key>REGISTER_BY_EMAIL</key>
	<string>account/register</string>
	<key>VINCULAR_CUENTA</key>
	<string>profile/student/vincular</string>
	<key>RECOVER_LOGIN</key>
	<string>account/recover-login</string>
	<key>GET_FILTERS</key>
	<string>catalogs/materias/filter</string>
	<key>GET_HORARIOS</key>
	<string>catalogs/profesor/horario</string>
	<key>GET_LEVELS_URL</key>
	<string>catalogs/materias/nivel</string>
	<key>RECOVER_REQUEST</key>
	<string>account/recover-request</string>
	<key>GET_PROFESORS</key>
	<string>catalogs/materias/profesor</string>
	<key>GET_CATEGORIES</key>
	<string>catalogs/materias/categoria</string>
	<key>GET_PROGAMS_CLASSES</key>
	<string>profile/student/clase</string>
	<key>CANCEL_CLASS</key>
	<string>profile/student/clase/cancelar</string>
	<key>DESVINCULAR</key>
	<string>profile/student/desvinculacion</string>
	<key>GET_VINCULATED_ACCOUNTS</key>
	<string>profile/student/vinculacion</string>
	<key>GET_DISP</key>
	<string>catalogs/profesor/disponibilidad</string>
</dict>
</plist>
